
const statements = {
{{#sections}}
{{&docstring}}
{{functionName}}: ({{functionParameters}}) => ({
    query: '{{&query}}',
    values: { {{functionParameters}} }
}),

{{/sections}}
}

module.exports = statements
