
const statements = {
{{#sections}}
{{&docstring}}
{{functionName}}: ({{parameters}}) => ({
    query: `{{&query}}`,
    parameters: { {{parameters}} }
}),

{{/sections}}
}

module.exports = statements
