
const statements = {
{{#sections}}
{{&docstring}}
{{functionName}}: ({{parameters}}) => ({
    query: `{{&query}}`,
    values: [{{sortedParameters}}]
}),

{{/sections}}
}

module.exports = statements
